<launch>
    <!-- Flag to start recoding a rosbag  -->
    <arg name="gui" default="true"/>
    <arg name="scenario" default="default"/>

    <!-- Initial position and heading of the vehicle (wrt Gazebo's inertial frame)  -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-23.0"/>
    <arg name="yaw" default="0.0"/>

    <arg name="use_ned_frame" default="false"/>

    <arg name="target_move_mode" default="1"/>  <!-- 0: simple, 1: circle, 2: random -->



    <!-- Initialize the Gazebo world  -->
    <include file="$(find amr_prj)/launch/bridge.launch">
        <arg name="gui" default="$(arg gui)"/>
        <arg name="scenario" default="$(arg scenario)"/>
    </include>

    <!-- Add the BlueROV2 vehicle to the world  -->
    <include file="$(find amr_prj)/launch/vehicle.launch">
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="yaw" default="$(arg yaw)"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    </include>



    <!-- Start the PID controller with its default parameters for the bluerov2 vehicle  -->
    <include file="$(find bluerov2_control)/launch/rov_pid_controller.launch"> 
        <arg name="uuv_name" value="bluerov2"/> 
        <arg name="model_name" value="bluerov2"/> 
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/> 
    </include> 

    <!-- <group if="$(arg fiducial_correction)">
        <include file="$(find amr_prj)/launch/aruco_detect.launch"/>
        <include file="$(find amr_prj)/launch/fiducial_slam.launch"/>
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_state_estimator" clear_params="true">
            <rosparam command="load" file="$(find amr_prj)/config/ekf_params_with_fiducial.yaml" />
        </node>
    </group>

    <group unless="$(arg fiducial_correction)">
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_state_estimator" clear_params="true">
            <rosparam command="load" file="$(find amr_prj)/config/ekf_params_imu_only.yaml" />
        </node>
    </group> -->

    <!-- Add the ooi to the world  -->
    <include file="$(find amr_prj)/launch/ooi.launch">
        <arg name="x" default="2.0"/>
        <arg name="y" default="-1.3"/>
        <arg name="z" default="$(arg z)"/>
        <arg name="yaw" default="$(arg yaw)"/>
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
        <arg name="target_move_mode" value="$(arg target_move_mode)"/>
    </include>
    <include file="$(find bluerov2_control)/launch/rov_pid_controller.launch"> 
        <arg name="uuv_name" value="ooi"/> 
        <arg name="model_name" value="bluerov2"/> 
        <arg name="use_ned_frame" value="$(arg use_ned_frame)"/> 
    </include> 

    <!-- <node pkg="tf" type="static_transform_publisher" name="world0_to_world_tf_publisher" args="0 0 -23 0 0 0 world odom 100" /> -->
    
    <!-- Start RViz  -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find amr_prj)/rviz/bluerov2_perception.rviz"/>
    <!-- Start Image Analyser  -->
    <!-- <node name="image_analyser" pkg="amr_prj" type="image_analyser.py" output="screen" /> -->

</launch>
